In [ ]:
import pandas as pd
import plotly.express as px

:

In [2]:
df = pd.read_table("cnv.dat", sep=" ",decimal=".")
df

             x       t            phi  Unnamed: 3
0        0.000  0.0000  1.918560e-136         NaN
1        0.001  0.0000  6.688050e-136         NaN
2        0.002  0.0000  2.325620e-135         NaN
3        0.003  0.0000  8.066640e-135         NaN
4        0.004  0.0000  2.791010e-134         NaN
...        ...     ...            ...         ...
4001995  0.995  2.0005   3.307730e-07         NaN
4001996  0.996  2.0005   3.277830e-07         NaN
4001997  0.997  2.0005   3.257920e-07         NaN
4001998  0.998  2.0005   3.247960e-07         NaN
4001999  0.999  2.0005   3.238000e-07         NaN

[4002000 rows x 4 columns]

In [3]:
fig = px.density_heatmap(df, x="x", y="t",z="phi",nbinsx=300,nbinsy=300,histfunc='max')
fig.write_image("heatmap-cnv.svg")