In [2]:
import pandas as pd
import plotly.express as px

In [3]:
df = pd.read_table("diff.dat", sep=" ",decimal=".")
df

             x     t           phi  Unnamed: 3
0       -2.000   0.0  0.000000e+00         NaN
1       -1.995   0.0  0.000000e+00         NaN
2       -1.990   0.0  0.000000e+00         NaN
3       -1.985   0.0  0.000000e+00         NaN
4       -1.980   0.0  0.000000e+00         NaN
...        ...   ...           ...         ...
4000995  2.975  20.0  1.388220e-07         NaN
4000996  2.980  20.0 -1.413690e-07         NaN
4000997  2.985  20.0  1.405100e-07         NaN
4000998  2.990  20.0 -1.430640e-07         NaN
4000999  2.995  20.0 -1.413620e-07         NaN

[4001000 rows x 4 columns]

In [ ]:
fig = px.density_heatmap(df, x="x", y="t",z="phi")
fig.show()